
.Map{
    width: 99%;
    text-align: center;
}

.Address{
    width: 100%;
}


.googleMap{
    margin: 2rem auto;
    width: calc(100% - 4rem);
    max-width: 1280px;
    height: 600px;
    border-style: none;
}
