.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
background-color: #D8D8D8;
}

.gridItemEnd {
  grid-column: 3/4;
  display: flex;
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;


}
.gridItemStart {
    grid-column: 1/2;
    padding: 0 50px;
  }
  
.icon{
    width: 60px;
}
