.header {
	width: 100%;
	background-color: blanchedalmond;
	margin: 0;
	padding: 0;
}

/* Style the navigation menu */
.topnav {
	background-color: black;
	display: grid;
	grid-template-columns: auto 1fr auto;
	color: white;
}

.topnav :nth-child(1) img {
	/* width: 250px;
	max-height: 84px; */
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


/* Hide the links inside the navigation menu (except for logo/home) */
.topnav .myLinks {
	background-color: #474747;
	display: none;
	grid-column: 1/4;
}

.topnav .myLinks > *:hover {
	background-color: #555;
}

/* Style navigation menu links */
.topnav a {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
	display: none;
	right: 0;
	top: 0;
	opacity: 0.5;
	cursor: pointer;
	filter: invert(1);
}


/* Add a grey background color on mouse-over */
.topnav .icon:hover {
	opacity: 1;
}


/* Style the active link (or home/logo) */
.active {
	color: white;
}


@media screen and (max-width: 768px) {
	.topnav a.icon {
		display: block;
	}
}

@media screen and (max-width: 430px) {
	.topnav a.icon {
		display: block;
	}
	.title {
		display: none;
	}
}