* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    background-color: blanchedalmond;
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
  }

 
  
  /* Add a grey background color on mouse-over */
  .topnav > a:nth-child(3):hover {
    color: rgb(30, 30, 30);
    opacity: 1;
  }

  
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }


@media screen and (max-width: 600px) {
    div.example {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    div.example {
      display: none;
    }
  }